<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <h1>Welcome to E-Kart</h1>
    <form action="/home" method="POST">
        <input name="email" id="email" type="email" placeholder="Your Email">
        <input name="password" id="password" type="password" placeholder="Your Password">
        <input type="submit" >
    </form>
</body>
</html>