<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1> Item collection </h1>
    <h2>Name {{.Name}}</h2>
    <h2>Category {{.Category}}</h2>
    <h2>Price {{.Price}}</h2>
    <h2>Id {{.ID}}</h2>
    <h2>END</h2>
</body>
</html>